<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT members ANY>
<!ATTLIST members id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT articlesOverview ANY>
<!ATTLIST articlesOverview id ID #REQUIRED>
<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT projectsOverview ANY>
<!ATTLIST projectsOverview id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT aboutUs ANY>
<!ATTLIST aboutUs id ID #REQUIRED>
<!ELEMENT sitemap ANY>
<!ATTLIST sitemap id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1078" key="b802ba0d-ddd2-4496-9ed6-2fa69cad8fae" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2019-02-15T11:12:51" updateDate="2019-03-31T14:52:51" nodeName="Home" urlName="home" path="-1,1078" isDoc="" nodeType="1058" creatorName="Radina Manolova" writerName="Radina Manolova" writerID="0" template="1057" nodeTypeAlias="homePage" isPublished="true">
    <umbracoNaviHide>0</umbracoNaviHide>
    <siteTitle><![CDATA[Aarhus Web Developer]]></siteTitle>
    <articlesOverview id="1079" key="42b0f0b2-7a5e-4f8b-9d0b-73f1db3a2101" parentID="1078" level="2" creatorID="0" sortOrder="0" createDate="2019-02-15T11:32:34" updateDate="2019-03-31T16:17:54" nodeName="Articles" urlName="articles" path="-1,1078,1079" isDoc="" nodeType="1065" creatorName="Radina Manolova" writerName="Radina Manolova" writerID="0" template="1064" nodeTypeAlias="articlesOverview" isPublished="true">
      <metaDescription><![CDATA[Articles about web development]]></metaDescription>
      <metaKeywords><![CDATA[article, web, development]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
      <articlesTitle><![CDATA[Articles]]></articlesTitle>
      <articlesBodyText><![CDATA[<div class="col">
<p class="lead">You may have thought about learning a programming language or two and becoming a web developer. If you have, you probably have a few questions, such as: What is a web developer and what do web developers do? Luckily for you, we understand that aspiring web developers will have questions about the profession, which is why we have put together this articles, which aims to answer these questions and more. </p>
<p class="lead"><span>We will cover the question of </span><span>what is a web developer?, </span><span>we will look at the types of web developers, and we will look at the web design vs web development debate. We will also cover some of the most popular programming languages for aspiring web developers, including Python, JavaScript, and HTML.</span></p>
</div>
<div class="col"></div>]]></articlesBodyText>
      <articleItem id="1080" key="663dbc57-16b9-4f95-89e4-f1f778b6fee2" parentID="1079" level="3" creatorID="0" sortOrder="0" createDate="2019-02-15T11:32:46" updateDate="2019-03-31T15:28:00" nodeName="What do Web Developers do?" urlName="what-do-web-developers-do" path="-1,1078,1079,1080" isDoc="" nodeType="1068" creatorName="Radina Manolova" writerName="Radina Manolova" writerID="0" template="1067" nodeTypeAlias="articleItem" isPublished="true">
        <metaDescription><![CDATA[What do Web Developers do?]]></metaDescription>
        <metaKeywords><![CDATA[web, developers, development]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[What do Web Developers do?]]></articleTitle>
        <articleContent><![CDATA[<p><span>Basically, a web developer or programmer is someone who takes a web design – which has been created by either a client or a design team – and turns it into a website. They do this by writing lines and lines of complicated code, using a variety of languages. Web developers have quite a difficult job, because they essentially have to take a language we understand, such as English, and translate it into a language that a computer understands, such as Python or HTML.</span></p>
<p><span>As you can imagine, this can take a lot of time and effort and requires an intricate understanding of various programming languages and how they are used. Different types of developers specialize in different areas, which means that large web projects are usually a collaboration between a number of different developers.</span></p>
<h2><span id="What_Types_Of_Web_Developer_Are_There">What Types Of Web Developer Are There?</span></h2>
<p><span>Unfortunately, the question “What does a web developer do?” doesn’t have one simple answer. As noted above, there are a number of different types of web developers, each of which focuses on a different aspect of the creation of a website.</span></p>
<p><span>The three main types of developer are front-end, back-end, and full-stack. Front-end developers are responsible for the parts of a website that people see and interact with, back-end developers are responsible for the behind the scenes code that controls how a website loads and runs, and full-stack developers do a bit of everything.</span></p>]]></articleContent>
      </articleItem>
      <articleItem id="1084" key="9fa84ebd-2c2c-4451-8b86-50fe7c5c349e" parentID="1079" level="3" creatorID="0" sortOrder="1" createDate="2019-02-15T13:08:58" updateDate="2019-03-31T15:30:35" nodeName="What do Front-End Developers do?" urlName="what-do-front-end-developers-do" path="-1,1078,1079,1084" isDoc="" nodeType="1068" creatorName="Radina Manolova" writerName="Radina Manolova" writerID="0" template="1067" nodeTypeAlias="articleItem" isPublished="true">
        <metaDescription><![CDATA[What do Front-End Developers do?]]></metaDescription>
        <metaKeywords><![CDATA[web, developers, development, front-end,  front end development]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[What do Front-End Developers do?]]></articleTitle>
        <articleContent><![CDATA[<p><span>A front-end developer is someone who takes a client or design team’s website design and writes the code needed to implement it on the web. A decent front-end web developer will be fluent in at least three programming languages – HTML, CSS, and JavaScript.</span></p>
<p><span>HTML allows them to add content to a website while splitting it into headings, paragraphs, and tables. CSS lets a decent developer style the content and change things like colors, sizes, and borders. JavaScript allows the inclusion of interactive elements, such as push buttons. We will go into more detail about these languages later.</span></p>
<p><span>So, what do web developers do when they work on the front end of a website?</span></p>
<ol>
<li><span>They make sure that all of the content that is needed for the website is clear, visible, and found in the right place. In some cases front-end developers may also have content writing skills, allowing them to create the content for the website as they go.</span></li>
<li><span>They make sure that the right colors are in the right places, especially with respect to text colors, background colors, and headers. Some of the best front-end developers are also very good designers, allowing them to tweak things as they go.</span></li>
<li><span>They make sure that all outbound links are correctly formatted, that all buttons work properly, and that the website is responsive and attractive. Mobile design is usually a big part of the job, while it is also important to make sure that a website will display correctly on all web browsers.</span></li>
</ol>
<p><span>As you can see, the answer to the question </span><span>“What is a web developer?”</span><span> certainly isn’t simple. Even front-end developers have it tough, and this is probably the simplest of the three types of development to learn.</span></p>
<p> </p>]]></articleContent>
      </articleItem>
      <articleItem id="1092" key="c52e137b-b9b7-42d6-b1b2-b67431c063ce" parentID="1079" level="3" creatorID="0" sortOrder="2" createDate="2019-02-22T20:02:07" updateDate="2019-03-31T15:33:15" nodeName="What do Back-End Developers do?" urlName="what-do-back-end-developers-do" path="-1,1078,1079,1092" isDoc="" nodeType="1068" creatorName="Radina Manolova" writerName="Radina Manolova" writerID="0" template="1067" nodeTypeAlias="articleItem" isPublished="true">
        <metaDescription><![CDATA[What do Back-End Developers do?]]></metaDescription>
        <metaKeywords><![CDATA[web, developers, development, back-end, back end development]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[What do Back-End Developer do?]]></articleTitle>
        <articleContent><![CDATA[<p><span>While it may seem like front-end developers have a difficult job making sure that a website looks great, works well, and contains the correct content, back-end developers actually have it much worse. While front-end developers are responsible for client-side programming, back-end developers have to deal with the server-side.</span></p>
<p><span>This means that they have to create the code and programs which power the website’s server, databases, and any applications that it contains. The most important thing as a back-end developer is the ability to be able to create clean, efficient code which does what you want it to in the quickest way possible. Since website speed is a major consideration when it comes to search engine optimization (SEO), it is a large factor when developing the back-end.</span></p>
<p><span>Back-end developers use a wide range of different server-side languages to build complicated programs. Some of the most popular languages used include PHP, Python, Java, and Ruby. JavaScript is also becoming increasingly widespread as a back-end development language, while SQL is commonly used to manage and analyze data in website databases.  </span></p>
<p><span>Since different websites have different needs, a back-end developer must be flexible, able to create different programs, and they absolutely must have a clear, in-depth understanding of the languages that they use. This is very important to make sure that they can come up with the most efficient method of creating the required program while making sure that it is secure, scalable, and easy to maintain.</span></p>]]></articleContent>
      </articleItem>
      <articleItem id="1093" key="507bdf7a-a6a3-44c9-a0d7-f25d57ea161f" parentID="1079" level="3" creatorID="0" sortOrder="3" createDate="2019-02-22T20:02:46" updateDate="2019-03-31T15:34:59" nodeName="What do Full-Stack Developers do?" urlName="what-do-full-stack-developers-do" path="-1,1078,1079,1093" isDoc="" nodeType="1068" creatorName="Radina Manolova" writerName="Radina Manolova" writerID="0" template="1067" nodeTypeAlias="articleItem" isPublished="true">
        <metaDescription><![CDATA[What do Full-Stack Developers do?]]></metaDescription>
        <metaKeywords><![CDATA[web, developers, development, full-stack, full stack development]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[What do Full-Stack Developers do?]]></articleTitle>
        <articleContent><![CDATA[<p><span>If you are looking for a quick, simple answer to the question “</span><span>What is a web developer?”</span><span>, then a full-stack developer is probably the closest thing that you’re going to get. Full-stack developers understand both front and back-end strategies and processes, which means that they are perfectly positioned to oversee the entire process.</span></p>
<p><span>In the case of small websites which don’t have a huge development budget, a full-stack developer will often be employed to build the entire website. In this case, it is extremely important for them to have a complete, in-depth understanding of both front and back-end development and how they work.</span></p>
<p><span>Learning full-stack development techniques has a huge range of benefits, including:</span></p>
<ul>
<li><span>You will end up with the knowledge to be able to create an entire website on your own. This makes you a lot more employable, increasing your job security in the future.</span></li>
<li><span>As a full-stack developer, you will understand the connections between the front and back-ends of a website, allowing you to build efficient and effective programs for all parts of the website.</span></li>
<li><span>Full-stack developers are often employed to oversee large projects for big web development companies. Positions like this are likely to be paid more than standard web development positions, making them more attractive to developers.</span></li>
</ul>
<p><span>Although most developers start out with either front or back-end specializations, there are a lot of reasons why you should consider branching out and learning both. It will make you a lot more employable, will give you a greater understanding of the whole concept of what is web development, and will make it easier for you to create entire websites on your own.</span></p>]]></articleContent>
      </articleItem>
      <articleItem id="2101" key="a21c62c1-3c3d-473d-a726-fbb42db35d65" parentID="1079" level="3" creatorID="2" sortOrder="4" createDate="2019-03-11T13:00:19" updateDate="2019-03-31T15:40:22" nodeName="Popular Languages For Web Development" urlName="popular-languages-for-web-development" path="-1,1078,1079,2101" isDoc="" nodeType="1068" creatorName="Tim Hansson" writerName="Radina Manolova" writerID="0" template="1067" nodeTypeAlias="articleItem" isPublished="true">
        <metaDescription><![CDATA[Popular Languages For Web Development]]></metaDescription>
        <metaKeywords><![CDATA[languages, web, development, HTML, CSS, JavaScript, Java, PHP]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[Popular Languages For Web Development]]></articleTitle>
        <articleContent><![CDATA[<h3><span id="HTML">HTML</span></h3>
<p><span>HTML is an essential language if you want to become any sort of front-end web developer. To explain it fully, I need you to do something for me:</span></p>
<p><span>You should be taken to a new tab containing all of the information which goes into the creation of this webpage. What you are seeing is mainly HTML code. It tells the website what content to display and to some extent, how to display it. At the top of the page, on the first line, you will see the &lt;!DOCTYPE html&gt; command. This tells your web browser to expect HTML code.</span></p>
<p><span>If you explore further, you will start to recognize things on the page. You will see some commands that you understand, such as ‘link’, ‘image’, or ‘video’. These are all content commands which tell your browser what to show, where to get the content from, and how to show it. </span><span>HTML is a very easy language to learn, and it is usually the first one learnt by new programmers. If you are interested in exploring HTML and front-end web development further.</span></p>
<h3><span id="CSS">CSS</span></h3>
<p><span>CSS is the second of the essential front-end languages and is also one which every front-end developer must be fluent in. CSS code is used in conjunction with HTML. While HTML tells the webpage what content to display, CSS tells the webpage how to display the content – it’s a ‘styling’ language. </span><span>Once you have learned CSS, you will be able to do a wide range of things, including:</span></p>
<ul>
<li><span>Changing colors</span><span>. CSS allows you to change the color of pretty much everything from your paragraph text to your background to your table borders.</span></li>
<li><em><span>Changing fonts. </span><span>CSS also lets you choose the fonts that you are going to use on your website and where you are going to use them.</span></em></li>
<li><em><span>Positioning elements. </span><span>HTML lets you add images and videos to your webpage, but CSS lets you tell the browser how big to make them and where to display them.</span></em></li>
<li><em><span>Changing text size. </span><span>Are you building a website designed for people with poor eyesight? If so, you will need to use your knowledge of CSS coding to make your text larger.</span></em></li>
</ul>
<p><span>As you can see, CSS plays a big role in defining what is a web developer, especially with respect to front-end developers.</span></p>
<h3><span id="JavaScript">JavaScript</span></h3>
<p><span>What do web developers do? Well, most web developers take a programming language like Java or HTML and use it to create a component of a website. JavaScript developers are no different, except they create very specific content. So, for JavaScript, what is a web developer exactly?</span></p>
<p><span>Most JavaScript developers work on the front-end of a website. They build small snippets of JavaScript code that make your website responsive, interactive, and attractive to your visitors. These JavaScript snippets are often embedded in the HTML source code for a website. </span><span>Although it has traditionally been a front-end language, and one which is vital for any front-end developer to learn, JavaScript is becoming increasingly popular for back-end development as well. A lot of front-end developers are beginning to find work as full-stack developers due to their knowledge of JavaScript, which means that its usage and popularity is skyrocketing.</span></p>
<h3><span id="PHP">PHP</span></h3>
<p><span>Historically, PHP has dominated definitions of what is a web developer. Known as the language of the internet, it is currently used in some form on over 80% of websites in existence. Although it is slowly decreasing in popularity, PHP is still a great language for any back-end web developer to learn.</span></p>
<p><span>PHP is very easy to learn and is quite easy to use, which makes it very popular for beginner back-end developers. It is very popular on small websites built on platforms like WordPress or Wix, and there are plenty of freelance work opportunities for PHP developers.</span></p>
<h3><span id="Java">Java</span></h3>
<p><span>The last of the languages on our list, Java, has been a major part of what is a web developer for years. It is an old language and is popular for a variety of different programming uses. From a web development sense, Java is used to create responsive, scalable web apps which are used for responsive, fast website design.</span></p>
<p><span>Java is an essential language for many back-end developers. It is quite easy to learn, which makes it beginner friendly, and it is very easy to use. It is super scalable, which makes it popular among larger websites like eBay and Amazon, and it is very easy to maintain.</span></p>
<p> </p>]]></articleContent>
      </articleItem>
      <articleItem id="2102" key="dde0bff5-06b0-4e92-b136-892623ced4f1" parentID="1079" level="3" creatorID="2" sortOrder="5" createDate="2019-03-11T13:04:48" updateDate="2019-03-31T15:42:45" nodeName="Web Design vs Web Development" urlName="web-design-vs-web-development" path="-1,1078,1079,2102" isDoc="" nodeType="1068" creatorName="Tim Hansson" writerName="Radina Manolova" writerID="0" template="1067" nodeTypeAlias="articleItem" isPublished="true">
        <metaDescription><![CDATA[Web Design vs Web Development]]></metaDescription>
        <metaKeywords><![CDATA[web, design, development, web design, web development]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[Web Design vs Web Development]]></articleTitle>
        <articleContent><![CDATA[<p><span>Now, we need to digress for a moment to address an important point that often comes up when people start talking about web development – the web design vs web development debate. Are they different? Are they the same thing?</span></p>
<p><span>Really, the answer is no, web design and web development are not the same, but of course, it depends on how you define ‘design’ and ‘development’. For the purposes of our article, we have assumed that a designer and a developer are different and that they have the following roles:</span></p>
<p> </p>
<p><strong>Web Designer:</strong></p>
<p><span>The web designer is the person or group of people who are responsible for the creation of the website concept. They might decide that it needs to be a certain color, with certain content and pages. They may do things like creating infographics, logos, and videos, and they definitely tell the developer where these things have to be put on the web page. However, they don’t take part in the construction of the website or the underlying code.</span></p>
<p> </p>
<p><strong>Web Developer:</strong></p>
<p><span>The web developer takes the designer’s concepts and creates the code that is used to turn them into a website and bring them to people like you and me. It is important to realize that, although the web developer and the designer may be the same person – there is almost always some overlap between design and front-end development – the roles are different.</span></p>
<p><span>If you want to be a designer, you won’t necessarily have to learn any code at all. Likewise, a developer doesn’t need to have any graphic design skills at all. From this, it follows that ‘designing a website’ is definitely not part of the answer to ‘What is a web developer?’.</span></p>]]></articleContent>
      </articleItem>
    </articlesOverview>
    <projectsOverview id="1081" key="d0d34c1c-60c5-45d8-bf4c-ac65dc13320a" parentID="1078" level="2" creatorID="0" sortOrder="1" createDate="2019-02-15T11:34:55" updateDate="2019-03-15T10:15:39" nodeName="Projects" urlName="projects" path="-1,1078,1081" isDoc="" nodeType="1072" creatorName="Radina Manolova" writerName="Radina Manolova" writerID="0" template="1071" nodeTypeAlias="projectsOverview" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <projectsBodyText><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae nulla et massa tincidunt tincidunt. Phasellus vitae facilisis erat. In auctor vestibulum magna ut lacinia. Aenean consequat eros ut neque eleifend lobortis.</p>]]></projectsBodyText>
      <projectsTitle><![CDATA[Projects]]></projectsTitle>
      <projectItem id="1082" key="b846d3b2-549b-43d7-806c-01fc1b23cca7" parentID="1081" level="3" creatorID="0" sortOrder="0" createDate="2019-02-15T11:35:04" updateDate="2019-03-31T19:09:56" nodeName="HTML Project" urlName="html-project" path="-1,1078,1081,1082" isDoc="" nodeType="1076" creatorName="Radina Manolova" writerName="Radina Manolova" writerID="0" template="1075" nodeTypeAlias="projectItem" isPublished="true">
        <metaDescription><![CDATA[A simple webpage using HTML]]></metaDescription>
        <metaKeywords><![CDATA[webpage, HTML]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p><img style="width: 500px; height:166.66666666666666px;" src="/media/1008/html.png?width=500&amp;height=166.66666666666666" alt="" data-udi="umb://media/9959ea0c2cb446fdbeb817e8ac1809bb" /></p>
<p> </p>
<p>The “front-end languages” live in the browser. After you type an address into the address bar at the top and hit the enter/return key, your browser will receive at least an HTML file from the web server. That file will likely tell the browser to request a CSS file and a JavaScript file as well.</p>
<p>Each of these languages performs a separate but very important function and they work harmoniously together to determine how the web page is STRUCTURED (HTML), how it LOOKS (CSS), and how it FUNCTIONS (JavaScript). And keep in mind that your<span> </span><em>browser</em><span> </span>handles figuring out how to make these files into a functioning web page (not the server).</p>
<p>Front-end web development is NOT design (you won’t be playing around in Photoshop or anything), but a front-end developer<span> </span><em>does</em><span> </span>apply the work of designers to the web page by translating their well-designed layouts into real code. The front-end developer stands between the designer on one end and the back-end developer on the other, translating the design into code and plugging the data from the back-end developer into the right spots. He or she must also handle all the possible interactions that the user may need to make with the page.</p>
<p>On the front end, you will need to be highly conscious of who your user is and how they will be interacting with your web page because you are building their gateway to your page or product. This may mean gaining a strong understanding of accessibility and things like responsive development down the line, but first, you need to build up your toolkit and pick up the fundamentals of the front-end languages.</p>]]></projectDescription>
        <projectTitle><![CDATA[HTML Project]]></projectTitle>
        <projectStatus>26</projectStatus>
      </projectItem>
      <projectItem id="1085" key="7e0622f3-28f5-4dac-a48c-c400609895a7" parentID="1081" level="3" creatorID="0" sortOrder="1" createDate="2019-02-15T14:04:24" updateDate="2019-03-31T19:13:05" nodeName="JS and CSS Project" urlName="js-and-css-project" path="-1,1078,1081,1085" isDoc="" nodeType="1076" creatorName="Radina Manolova" writerName="Radina Manolova" writerID="0" template="1075" nodeTypeAlias="projectItem" isPublished="true">
        <metaDescription><![CDATA[A JavaScript and CSS project]]></metaDescription>
        <metaKeywords><![CDATA[CSS, JavaScript, project]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p><img style="width: 218px; height:179px;" src="/media/1009/minify-css-javascript.png?width=218&amp;height=179" alt="" data-udi="umb://media/10cc76bebfd24d9c8b0cf376e87c29e0" /></p>
<p> </p>
<p>The “front-end languages” live in the browser. After you type an address into the address bar at the top and hit the enter/return key, your browser will receive at least an HTML file from the web server. That file will likely tell the browser to request a CSS file and a JavaScript file as well.</p>
<p>Each of these languages performs a separate but very important function and they work harmoniously together to determine how the web page is STRUCTURED (HTML), how it LOOKS (CSS), and how it FUNCTIONS (JavaScript). And keep in mind that your<span> </span><em>browser</em><span> </span>handles figuring out how to make these files into a functioning web page (not the server).</p>
<p>Front-end web development is NOT design (you won’t be playing around in Photoshop or anything), but a front-end developer<span> </span><em>does</em><span> </span>apply the work of designers to the web page by translating their well-designed layouts into real code. The front-end developer stands between the designer on one end and the back-end developer on the other, translating the design into code and plugging the data from the back-end developer into the right spots. He or she must also handle all the possible interactions that the user may need to make with the page.</p>
<p>On the front end, you will need to be highly conscious of who your user is and how they will be interacting with your web page because you are building their gateway to your page or product. This may mean gaining a strong understanding of accessibility and things like responsive development down the line, but first, you need to build up your toolkit and pick up the fundamentals of the front-end languages.</p>]]></projectDescription>
        <projectTitle><![CDATA[JS and CSS Project]]></projectTitle>
        <projectStatus>26</projectStatus>
      </projectItem>
      <projectItem id="1094" key="efa01f04-a3b0-4475-b66d-c3ee7bb768fe" parentID="1081" level="3" creatorID="0" sortOrder="2" createDate="2019-02-22T20:04:09" updateDate="2019-03-31T19:18:17" nodeName="Umbraco Project" urlName="umbraco-project" path="-1,1078,1081,1094" isDoc="" nodeType="1076" creatorName="Radina Manolova" writerName="Radina Manolova" writerID="0" template="1075" nodeTypeAlias="projectItem" isPublished="true">
        <metaDescription><![CDATA[First Umbraco project]]></metaDescription>
        <metaKeywords><![CDATA[project, Umbraco]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p><img style="width: 500px; height:200px;" src="/media/1010/umbraco-logo-white-background.png?width=500&amp;height=200" alt="" data-udi="umb://media/f877c44519cb44bd93fdf7e8506602f7" /></p>
<p>Umbraco is an open source .NET (dot NET) based Content Management System (CMS) that was created in Denmark 17 years ago. Since then it has developed from a niche product into a mass user Open Source platform with hundreds of thousands of installs across the globe to rival WordPress and others.</p>
<p>Umbraco allows web designers and developers to build an integrated site that can feed content to and from other digital platforms. It uses the Microsoft stack, Microsoft Windows servers, and benefits from the core security protection built into that system.</p>
<p>Umbraco is a pure CMS so you can create content, edit it, access all the content from the front end and place content anywhere on a single page, offering you a granular level of design detail and huge flexibility when it comes to editing and adding pages.</p>
<p>When comparing Umbraco to other CMSs, many restrict you in the way you can create pages. There's a lot of functionality in them, however, they force you to include a lot of HTML, which they need in order to render out content. Great if you know your span tags from your paragraph tags, not so good if you don’t</p>
<p>Umbraco is different, it’s cleaner and doesn’t have that requirement. Without that messy extra HTML, pages perform better in web searches as there's less material for the systems to wade through. Umbraco is a pure CMS so you create the content, you edit the content, at the front end you can access all the content - no fiddling with HTML to make pages work.</p>]]></projectDescription>
        <projectTitle><![CDATA[Umbraco Project]]></projectTitle>
        <projectStatus>26</projectStatus>
      </projectItem>
      <projectItem id="1095" key="353102f5-9310-4752-aa4b-1827c17915d6" parentID="1081" level="3" creatorID="0" sortOrder="3" createDate="2019-02-22T20:04:57" updateDate="2019-04-01T09:56:13" nodeName="Drupal Project" urlName="drupal-project" path="-1,1078,1081,1095" isDoc="" nodeType="1076" creatorName="Radina Manolova" writerName="Radina Manolova" writerID="0" template="1075" nodeTypeAlias="projectItem" isPublished="true">
        <metaDescription><![CDATA[First Drupal project]]></metaDescription>
        <metaKeywords><![CDATA[Drupal, project]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p><span><img style="width: 208px; height: 242px;" src="/media/1011/drupal-logo.png?width=208&amp;height=242&amp;mode=max" alt="" data-udi="umb://media/ad3ff9781f494fc0832c20c1c6847c54" /></span></p>
<p><span>Drupal </span>is a free, open-source content management system (CMS) with a large, supportive community. It's used by millions of people and organizations around the globe to build and maintain their websites. You probably use Drupal every day without knowing it, as many top businesses and government organizations use Drupal, as the Government of Australia, Red Cross, Harvard, The Economist, BBC, NBC News, Whole Foods, Cisco, Twitter, and many, many more.</p>
<p>Drupal is open source software released under the GNU Public License. This means it has inherent benefits--cost, flexibility, freedom, security, and accountability--that are unmatched by proprietary software. For example, Drupal is free to download and anyone can modify and extend the platform. This ensures freedom from vendor "lock in" and it empowers users worldwide to monitor Drupal's underlying code for compliance and security issues and fix them quickly.</p>]]></projectDescription>
        <projectTitle><![CDATA[Drupal Project]]></projectTitle>
        <projectStatus>26</projectStatus>
      </projectItem>
      <projectItem id="2130" key="2fa29f21-be5a-4482-a17a-aaefc0453c18" parentID="1081" level="3" creatorID="0" sortOrder="4" createDate="2019-03-31T14:51:19" updateDate="2019-03-31T19:27:30" nodeName="Java Project" urlName="java-project" path="-1,1078,1081,2130" isDoc="" nodeType="1076" creatorName="Radina Manolova" writerName="Radina Manolova" writerID="0" template="1075" nodeTypeAlias="projectItem" isPublished="true">
        <metaDescription><![CDATA[First Java project]]></metaDescription>
        <metaKeywords><![CDATA[Java, project]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p><img style="width: 149px; height: 273px;" src="/media/1012/1200px-java_programming_language_logosvg.png?width=149&amp;height=273&amp;mode=max" alt="" data-udi="umb://media/aa9a835f54c34ac3b58bb8c304abfc88" /> </p>
<p>Java is a programming language in the tradition of C and C++. As a result, if you have any experience with C or C++, you’ll find yourself in familiar territory often as you learn the various features of Java.</p>
<p>However, Java differs from other programming languages in a couple of significant ways. The following sections describe the most important differences.</p>
<p>One of the main reasons Java is so popular is its<span> </span>platform independence,<span> </span>which means that Java programs can be run on many different types of computers. A Java program runs on any computer with a<span> </span>Java Runtime Environment,<span> </span>also known as a<span> </span>JRE,<span> </span>installed.<span> </span>A JRE is available for almost every type of computer — PCs running Windows, Macintosh computers, Unix or Linux computers, huge mainframe computers, and even cell phones.</p>
<p>Java is inherently<span> </span>object-oriented,<span> </span>which means that Java programs are made up of programming elements called<span> </span>objects.<span> </span>Simply put, an object is a programming entity that represents either some real-world object or an abstract concept.</p>
<p>All objects have two basic characteristics:</p>
<ul>
<li>Objects have data, also known as<span> </span>state. For example, an object that represents a book has data such as the book’s title, author, and publisher.</li>
</ul>
<ul>
<li>Objects also have<span> </span>behavior,<span> </span>which means that they can perform certain tasks. In Java, these tasks are called<span> </span>methods. For example, an object that represents a car might have methods such as start, stop, drive, or crash. Some methods simply allow you to access the object’s data. For example, a book object might have a<span> </span>getTitle<span> </span>method that tells you the book’s title.</li>
</ul>
<p>Classes<span> </span>are closely related to objects. A class is the program code you write to create objects. The class describes the data and methods that define the object’s state and behavior. Then, when the program executes, classes are used to create objects.</p>
<p>For example, suppose you’re writing a payroll program. This program needs objects to represent the company’s employees. So, the program includes a class (probably named<span> </span>Employee) that defines the data and methods for each<span> </span>Employee<span> </span>object. Then, when your program runs, it uses this class to create an object for each of your company’s employees.</p>]]></projectDescription>
        <projectTitle><![CDATA[Java Project]]></projectTitle>
        <projectStatus>26</projectStatus>
      </projectItem>
    </projectsOverview>
    <textPage id="1083" key="7ace4cce-54ae-4fb6-94ed-9202f8a42b11" parentID="1078" level="2" creatorID="0" sortOrder="2" createDate="2019-02-15T11:40:09" updateDate="2019-03-31T15:47:25" nodeName="About us" urlName="about-us" path="-1,1078,1083" isDoc="" nodeType="1062" creatorName="Radina Manolova" writerName="Radina Manolova" writerID="0" template="1061" nodeTypeAlias="textPage" isPublished="true">
      <metaDescription><![CDATA[about us page]]></metaDescription>
      <metaKeywords><![CDATA[about, page]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
      <mainContent><![CDATA[<p>We are the web developers of Aarhus!</p>]]></mainContent>
      <aboutUs><![CDATA[{
  "name": "main",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "Aarhus Web Developer Corporation",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "id": 2131,
                    "udi": "umb://media/6a818df53b064ce689e838c6ef8bd086",
                    "image": "/media/1007/web_develop_img.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Vision",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": "We as Web Developers are creating an attractive look for websites. We are responsible for managing the technical aspects of performance and capacity to ensure that all customers obtain a user-friendly viewing experience.  When we are developing a new website, our designers are given the task of helping make our clients’ vision a reality to be certain the end product fits all of the client’s requirements effectively.",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "People",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p style=\"text-align: left;\">Radina Manolova</p>\n<p style=\"text-align: left;\">Georgi Dimitrov</p>\n<p style=\"text-align: left;\">Ivan Dimitrov</p>\n<p style=\"text-align: left;\">Anna Petrova</p>\n<p style=\"text-align: left;\">Mariya Ivanova</p>\n<p style=\"text-align: left;\">Jane Wilfred</p>\n<p style=\"text-align: left;\">Tim Hansson</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Skills",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<div class=\"textLayer--absolute\">HTML5</div>\n<div class=\"textLayer--absolute\">CSS</div>\n<div class=\"textLayer--absolute\">JavaScript</div>\n<div class=\"textLayer--absolute\">ASP.NET MVC</div>\n<div class=\"textLayer--absolute\">PHP</div>\n<div class=\"textLayer--absolute\">Umbraco</div>\n<div class=\"textLayer--absolute\">Drupal</div>\n<div class=\"textLayer--absolute\">Joomla!</div>\n<div class=\"textLayer--absolute\">Wordpress</div>\n<div class=\"textLayer--absolute\">AngularJS</div>\n<div class=\"textLayer--absolute\">Aurelia</div>\n<div class=\"textLayer--absolute\">ASP.NET Web API</div>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "22dacd7b-6433-97ab-a05b-fa2c4be1e5f7",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></aboutUs>
      <header><![CDATA[About us]]></header>
    </textPage>
    <sitemap id="1091" key="dddb54c9-d4a6-4e93-b0dc-12da2f2fd043" parentID="1078" level="2" creatorID="0" sortOrder="3" createDate="2019-02-22T09:46:40" updateDate="2019-03-31T15:48:53" nodeName="Sitemap" urlName="sitemap" path="-1,1078,1091" isDoc="" nodeType="1090" creatorName="Radina Manolova" writerName="Radina Manolova" writerID="0" template="1089" nodeTypeAlias="sitemap" isPublished="true">
      <metaDescription><![CDATA[sitemap of the website]]></metaDescription>
      <metaKeywords><![CDATA[sitemap]]></metaKeywords>
      <umbracoNaviHide>1</umbracoNaviHide>
    </sitemap>
    <contactPage id="1104" key="1555936a-5001-4bb9-a5bc-145a3f6f8040" parentID="1078" level="2" creatorID="0" sortOrder="4" createDate="2019-03-08T15:18:19" updateDate="2019-03-31T15:49:23" nodeName="Contact Us" urlName="contact-us" path="-1,1078,1104" isDoc="" nodeType="1103" creatorName="Radina Manolova" writerName="Radina Manolova" writerID="0" template="1102" nodeTypeAlias="contactPage" isPublished="true">
      <metaDescription><![CDATA[contact us page where you can send us messages]]></metaDescription>
      <metaKeywords><![CDATA[contact, page, email, message]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
    </contactPage>
    <login id="2118" key="19c6af52-b535-42ff-a1f1-aa36c1aeccd7" parentID="1078" level="2" creatorID="0" sortOrder="5" createDate="2019-03-11T15:12:22" updateDate="2019-03-11T15:12:22" nodeName="Log in" urlName="log-in" path="-1,1078,2118" isDoc="" nodeType="2117" creatorName="Radina Manolova" writerName="Radina Manolova" writerID="0" template="2116" nodeTypeAlias="login" isPublished="true" />
    <members id="2123" key="89fe9834-2766-48df-8da1-f01aba5180b5" parentID="1078" level="2" creatorID="0" sortOrder="7" createDate="2019-03-15T11:23:27" updateDate="2019-03-15T11:23:27" nodeName="Members" urlName="members" path="-1,1078,2123" isDoc="" nodeType="2122" creatorName="Radina Manolova" writerName="Radina Manolova" writerID="0" template="2121" nodeTypeAlias="members" isPublished="true" />
    <aboutUs id="2126" key="f8c85124-090c-49a7-9dc2-a628c1d79a77" parentID="1078" level="2" creatorID="0" sortOrder="8" createDate="2019-03-15T12:21:21" updateDate="2019-04-01T11:19:26" nodeName="Forbbiden Access" urlName="forbbiden-access" path="-1,1078,2126" isDoc="" nodeType="1087" creatorName="Radina Manolova" writerName="Radina Manolova" writerID="0" template="1086" nodeTypeAlias="aboutUs" isPublished="true">
      <metaDescription><![CDATA[users who are not active one cant access a certain page]]></metaDescription>
      <metaKeywords><![CDATA[users, active, page]]></metaKeywords>
      <umbracoNaviHide>1</umbracoNaviHide>
      <mainContent><![CDATA[<p>This page can be accessed only by active members.</p>]]></mainContent>
      <header><![CDATA[Forbbiden Access]]></header>
    </aboutUs>
  </homePage>
</root>