<!DOCTYPE root[<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT articlesOverview ANY>
<!ATTLIST articlesOverview id ID #REQUIRED>
<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT projectsOverview ANY>
<!ATTLIST projectsOverview id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT aboutUs ANY>
<!ATTLIST aboutUs id ID #REQUIRED>
<!ELEMENT sitemap ANY>
<!ATTLIST sitemap id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1078" key="b802ba0d-ddd2-4496-9ed6-2fa69cad8fae" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2019-02-15T11:12:51" updateDate="2019-02-22T10:40:34" nodeName="Home" urlName="home" path="-1,1078" isDoc="" nodeType="1058" creatorName="Radina Manolova" writerName="Radina Manolova" writerID="0" template="1057" nodeTypeAlias="homePage" isPublished="true">
    <umbracoNaviHide>0</umbracoNaviHide>
    <articlesOverview id="1079" key="42b0f0b2-7a5e-4f8b-9d0b-73f1db3a2101" parentID="1078" level="2" creatorID="0" sortOrder="0" createDate="2019-02-15T11:32:34" updateDate="2019-03-01T09:00:13" nodeName="Articles" urlName="articles" path="-1,1078,1079" isDoc="" nodeType="1065" creatorName="Radina Manolova" writerName="Radina Manolova" writerID="0" template="1064" nodeTypeAlias="articlesOverview" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <articlesTitle><![CDATA[Articles]]></articlesTitle>
      <articlesBodyText><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae nulla et massa tincidunt tincidunt. Phasellus vitae facilisis erat. In auctor vestibulum magna ut lacinia. Aenean consequat eros ut neque eleifend lobortis.</p>]]></articlesBodyText>
      <articleItem id="1080" key="663dbc57-16b9-4f95-89e4-f1f778b6fee2" parentID="1079" level="3" creatorID="0" sortOrder="0" createDate="2019-02-15T11:32:46" updateDate="2019-02-15T13:37:17" nodeName="Article Item" urlName="article-item" path="-1,1078,1079,1080" isDoc="" nodeType="1068" creatorName="Radina Manolova" writerName="Radina Manolova" writerID="0" template="1067" nodeTypeAlias="articleItem" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[Article One ]]></articleTitle>
        <articleContent><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae nulla et massa tincidunt tincidunt. Phasellus vitae facilisis erat. In auctor vestibulum magna ut lacinia. Aenean consequat eros ut neque eleifend lobortis. Aliquam et ornare nulla, ut elementum diam. Praesent at ultrices sem. Donec in leo vitae lorem condimentum semper. Praesent enim lectus, molestie in dictum a, convallis porta erat. Donec cursus sem eu odio malesuada luctus. Pellentesque vehicula massa lacus, sit amet viverra mi tincidunt a. Nam fermentum mattis rutrum.</p>
<p>Sed ante quam, porta rutrum diam a, venenatis sollicitudin lectus. Quisque augue lectus, varius et sapien non, lacinia vestibulum risus. Pellentesque interdum, nibh ut pharetra lacinia, massa turpis vulputate odio, vel feugiat est augue id ligula. Duis sit amet faucibus justo. Integer euismod lectus dui, ut posuere velit auctor in. Phasellus gravida consectetur erat, a tincidunt ex cursus eu. Pellentesque porttitor ante ac nibh pretium, ac sagittis lacus commodo.</p>]]></articleContent>
      </articleItem>
      <articleItem id="1084" key="9fa84ebd-2c2c-4451-8b86-50fe7c5c349e" parentID="1079" level="3" creatorID="0" sortOrder="1" createDate="2019-02-15T13:08:58" updateDate="2019-03-08T13:55:05" nodeName="Article Item 2" urlName="article-item-2" path="-1,1078,1079,1084" isDoc="" nodeType="1068" creatorName="Radina Manolova" writerName="Radina Manolova" writerID="0" template="1067" nodeTypeAlias="articleItem" isPublished="true">
        <umbracoNaviHide>1</umbracoNaviHide>
        <articleTitle><![CDATA[Article Two]]></articleTitle>
        <articleContent><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae nulla et massa tincidunt tincidunt. Phasellus vitae facilisis erat. In auctor vestibulum magna ut lacinia. Aenean consequat eros ut neque eleifend lobortis. Aliquam et ornare nulla, ut elementum diam. Praesent at ultrices sem. Donec in leo vitae lorem condimentum semper. Praesent enim lectus, molestie in dictum a, convallis porta erat. Donec cursus sem eu odio malesuada luctus. Pellentesque vehicula massa lacus, sit amet viverra mi tincidunt a. Nam fermentum mattis rutrum.</p>
<p>Sed ante quam, porta rutrum diam a, venenatis sollicitudin lectus. Quisque augue lectus, varius et sapien non, lacinia vestibulum risus. Pellentesque interdum, nibh ut pharetra lacinia, massa turpis vulputate odio, vel feugiat est augue id ligula. Duis sit amet faucibus justo. Integer euismod lectus dui, ut posuere velit auctor in. Phasellus gravida consectetur erat, a tincidunt ex cursus eu. Pellentesque porttitor ante ac nibh pretium, ac sagittis lacus commodo.</p>]]></articleContent>
      </articleItem>
      <articleItem id="1092" key="c52e137b-b9b7-42d6-b1b2-b67431c063ce" parentID="1079" level="3" creatorID="0" sortOrder="2" createDate="2019-02-22T20:02:07" updateDate="2019-02-22T20:02:27" nodeName="Article Item 3" urlName="article-item-3" path="-1,1078,1079,1092" isDoc="" nodeType="1068" creatorName="Radina Manolova" writerName="Radina Manolova" writerID="0" template="1067" nodeTypeAlias="articleItem" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[Article Three]]></articleTitle>
        <articleContent><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae nulla et massa tincidunt tincidunt. Phasellus vitae facilisis erat. In auctor vestibulum magna ut lacinia. Aenean consequat eros ut neque eleifend lobortis. Aliquam et ornare nulla, ut elementum diam. Praesent at ultrices sem. Donec in leo vitae lorem condimentum semper. Praesent enim lectus, molestie in dictum a, convallis porta erat. Donec cursus sem eu odio malesuada luctus. Pellentesque vehicula massa lacus, sit amet viverra mi tincidunt a. Nam fermentum mattis rutrum.</p>
<p>Sed ante quam, porta rutrum diam a, venenatis sollicitudin lectus. Quisque augue lectus, varius et sapien non, lacinia vestibulum risus. Pellentesque interdum, nibh ut pharetra lacinia, massa turpis vulputate odio, vel feugiat est augue id ligula. Duis sit amet faucibus justo. Integer euismod lectus dui, ut posuere velit auctor in. Phasellus gravida consectetur erat, a tincidunt ex cursus eu. Pellentesque porttitor ante ac nibh pretium, ac sagittis lacus commodo.</p>]]></articleContent>
      </articleItem>
      <articleItem id="1093" key="507bdf7a-a6a3-44c9-a0d7-f25d57ea161f" parentID="1079" level="3" creatorID="0" sortOrder="3" createDate="2019-02-22T20:02:46" updateDate="2019-02-22T20:02:46" nodeName="Article Item 4" urlName="article-item-4" path="-1,1078,1079,1093" isDoc="" nodeType="1068" creatorName="Radina Manolova" writerName="Radina Manolova" writerID="0" template="1067" nodeTypeAlias="articleItem" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[Article Four]]></articleTitle>
        <articleContent><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae nulla et massa tincidunt tincidunt. Phasellus vitae facilisis erat. In auctor vestibulum magna ut lacinia. Aenean consequat eros ut neque eleifend lobortis. Aliquam et ornare nulla, ut elementum diam. Praesent at ultrices sem. Donec in leo vitae lorem condimentum semper. Praesent enim lectus, molestie in dictum a, convallis porta erat. Donec cursus sem eu odio malesuada luctus. Pellentesque vehicula massa lacus, sit amet viverra mi tincidunt a. Nam fermentum mattis rutrum.</p>
<p>Sed ante quam, porta rutrum diam a, venenatis sollicitudin lectus. Quisque augue lectus, varius et sapien non, lacinia vestibulum risus. Pellentesque interdum, nibh ut pharetra lacinia, massa turpis vulputate odio, vel feugiat est augue id ligula. Duis sit amet faucibus justo. Integer euismod lectus dui, ut posuere velit auctor in. Phasellus gravida consectetur erat, a tincidunt ex cursus eu. Pellentesque porttitor ante ac nibh pretium, ac sagittis lacus commodo.</p>]]></articleContent>
      </articleItem>
    </articlesOverview>
    <projectsOverview id="1081" key="d0d34c1c-60c5-45d8-bf4c-ac65dc13320a" parentID="1078" level="2" creatorID="0" sortOrder="1" createDate="2019-02-15T11:34:55" updateDate="2019-03-01T09:00:21" nodeName="Projects" urlName="projects" path="-1,1078,1081" isDoc="" nodeType="1072" creatorName="Radina Manolova" writerName="Radina Manolova" writerID="0" template="1071" nodeTypeAlias="projectsOverview" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <projectsBodyText><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae nulla et massa tincidunt tincidunt. Phasellus vitae facilisis erat. In auctor vestibulum magna ut lacinia. Aenean consequat eros ut neque eleifend lobortis.</p>]]></projectsBodyText>
      <projectsTitle><![CDATA[Projects]]></projectsTitle>
      <projectItem id="1082" key="b846d3b2-549b-43d7-806c-01fc1b23cca7" parentID="1081" level="3" creatorID="0" sortOrder="0" createDate="2019-02-15T11:35:04" updateDate="2019-02-22T08:56:23" nodeName="Project Item" urlName="project-item" path="-1,1078,1081,1082" isDoc="" nodeType="1076" creatorName="Radina Manolova" writerName="Radina Manolova" writerID="0" template="1075" nodeTypeAlias="projectItem" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae nulla et massa tincidunt tincidunt. Phasellus vitae facilisis erat. In auctor vestibulum magna ut lacinia. Aenean consequat eros ut neque eleifend lobortis. Aliquam et ornare nulla, ut elementum diam. Praesent at ultrices sem. Donec in leo vitae lorem condimentum semper. Praesent enim lectus, molestie in dictum a, convallis porta erat. Donec cursus sem eu odio malesuada luctus. Pellentesque vehicula massa lacus, sit amet viverra mi tincidunt a. Nam fermentum mattis rutrum.</p>
<p>Sed ante quam, porta rutrum diam a, venenatis sollicitudin lectus. Quisque augue lectus, varius et sapien non, lacinia vestibulum risus. Pellentesque interdum, nibh ut pharetra lacinia, massa turpis vulputate odio, vel feugiat est augue id ligula. Duis sit amet faucibus justo. Integer euismod lectus dui, ut posuere velit auctor in. Phasellus gravida consectetur erat, a tincidunt ex cursus eu. Pellentesque porttitor ante ac nibh pretium, ac sagittis lacus commodo.</p>]]></projectDescription>
        <projectTitle><![CDATA[Project One]]></projectTitle>
        <projectStatus>23</projectStatus>
      </projectItem>
      <projectItem id="1085" key="7e0622f3-28f5-4dac-a48c-c400609895a7" parentID="1081" level="3" creatorID="0" sortOrder="1" createDate="2019-02-15T14:04:24" updateDate="2019-03-08T13:38:57" nodeName="Project Item 2" urlName="project-item-2" path="-1,1078,1081,1085" isDoc="" nodeType="1076" creatorName="Radina Manolova" writerName="Radina Manolova" writerID="0" template="1075" nodeTypeAlias="projectItem" isPublished="true">
        <umbracoNaviHide>1</umbracoNaviHide>
        <trueFalse>1</trueFalse>
        <projectDescription><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae nulla et massa tincidunt tincidunt. Phasellus vitae facilisis erat. In auctor vestibulum magna ut lacinia. Aenean consequat eros ut neque eleifend lobortis. Aliquam et ornare nulla, ut elementum diam. Praesent at ultrices sem. Donec in leo vitae lorem condimentum semper. Praesent enim lectus, molestie in dictum a, convallis porta erat. Donec cursus sem eu odio malesuada luctus. Pellentesque vehicula massa lacus, sit amet viverra mi tincidunt a. Nam fermentum mattis rutrum.</p>
<p>Sed ante quam, porta rutrum diam a, venenatis sollicitudin lectus. Quisque augue lectus, varius et sapien non, lacinia vestibulum risus. Pellentesque interdum, nibh ut pharetra lacinia, massa turpis vulputate odio, vel feugiat est augue id ligula. Duis sit amet faucibus justo. Integer euismod lectus dui, ut posuere velit auctor in. Phasellus gravida consectetur erat, a tincidunt ex cursus eu. Pellentesque porttitor ante ac nibh pretium, ac sagittis lacus commodo.</p>]]></projectDescription>
        <projectTitle><![CDATA[Project Two]]></projectTitle>
        <projectStatus>26</projectStatus>
      </projectItem>
      <projectItem id="1094" key="efa01f04-a3b0-4475-b66d-c3ee7bb768fe" parentID="1081" level="3" creatorID="0" sortOrder="2" createDate="2019-02-22T20:04:09" updateDate="2019-03-08T13:54:51" nodeName="Project Item 3" urlName="project-item-3" path="-1,1078,1081,1094" isDoc="" nodeType="1076" creatorName="Radina Manolova" writerName="Radina Manolova" writerID="0" template="1075" nodeTypeAlias="projectItem" isPublished="true">
        <umbracoNaviHide>1</umbracoNaviHide>
        <projectDescription><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae nulla et massa tincidunt tincidunt. Phasellus vitae facilisis erat. In auctor vestibulum magna ut lacinia. Aenean consequat eros ut neque eleifend lobortis. Aliquam et ornare nulla, ut elementum diam. Praesent at ultrices sem. Donec in leo vitae lorem condimentum semper. Praesent enim lectus, molestie in dictum a, convallis porta erat. Donec cursus sem eu odio malesuada luctus. Pellentesque vehicula massa lacus, sit amet viverra mi tincidunt a. Nam fermentum mattis rutrum.</p>
<p>Sed ante quam, porta rutrum diam a, venenatis sollicitudin lectus. Quisque augue lectus, varius et sapien non, lacinia vestibulum risus. Pellentesque interdum, nibh ut pharetra lacinia, massa turpis vulputate odio, vel feugiat est augue id ligula. Duis sit amet faucibus justo. Integer euismod lectus dui, ut posuere velit auctor in. Phasellus gravida consectetur erat, a tincidunt ex cursus eu. Pellentesque porttitor ante ac nibh pretium, ac sagittis lacus commodo.</p>]]></projectDescription>
        <projectTitle><![CDATA[Project Three]]></projectTitle>
        <projectStatus>26</projectStatus>
      </projectItem>
      <projectItem id="1095" key="353102f5-9310-4752-aa4b-1827c17915d6" parentID="1081" level="3" creatorID="0" sortOrder="3" createDate="2019-02-22T20:04:57" updateDate="2019-02-22T20:04:57" nodeName="Project Item 4" urlName="project-item-4" path="-1,1078,1081,1095" isDoc="" nodeType="1076" creatorName="Radina Manolova" writerName="Radina Manolova" writerID="0" template="1075" nodeTypeAlias="projectItem" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae nulla et massa tincidunt tincidunt. Phasellus vitae facilisis erat. In auctor vestibulum magna ut lacinia. Aenean consequat eros ut neque eleifend lobortis. Aliquam et ornare nulla, ut elementum diam. Praesent at ultrices sem. Donec in leo vitae lorem condimentum semper. Praesent enim lectus, molestie in dictum a, convallis porta erat. Donec cursus sem eu odio malesuada luctus. Pellentesque vehicula massa lacus, sit amet viverra mi tincidunt a. Nam fermentum mattis rutrum.</p>
<p>Sed ante quam, porta rutrum diam a, venenatis sollicitudin lectus. Quisque augue lectus, varius et sapien non, lacinia vestibulum risus. Pellentesque interdum, nibh ut pharetra lacinia, massa turpis vulputate odio, vel feugiat est augue id ligula. Duis sit amet faucibus justo. Integer euismod lectus dui, ut posuere velit auctor in. Phasellus gravida consectetur erat, a tincidunt ex cursus eu. Pellentesque porttitor ante ac nibh pretium, ac sagittis lacus commodo.</p>]]></projectDescription>
        <projectTitle><![CDATA[Project Four]]></projectTitle>
        <projectStatus>25</projectStatus>
      </projectItem>
    </projectsOverview>
    <textPage id="1083" key="7ace4cce-54ae-4fb6-94ed-9202f8a42b11" parentID="1078" level="2" creatorID="0" sortOrder="2" createDate="2019-02-15T11:40:09" updateDate="2019-02-22T10:36:34" nodeName="About us" urlName="about-us" path="-1,1078,1083" isDoc="" nodeType="1062" creatorName="Radina Manolova" writerName="Radina Manolova" writerID="0" template="1061" nodeTypeAlias="textPage" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <aboutUs><![CDATA[{
  "name": "main",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "Aarhus Web Developer Corporation",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": null,
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Vision",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "People",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Skills",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": true
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "22dacd7b-6433-97ab-a05b-fa2c4be1e5f7"
        }
      ]
    }
  ]
}]]></aboutUs>
    </textPage>
    <sitemap id="1091" key="dddb54c9-d4a6-4e93-b0dc-12da2f2fd043" parentID="1078" level="2" creatorID="0" sortOrder="3" createDate="2019-02-22T09:46:40" updateDate="2019-02-22T09:46:40" nodeName="Sitemap" urlName="sitemap" path="-1,1078,1091" isDoc="" nodeType="1090" creatorName="Radina Manolova" writerName="Radina Manolova" writerID="0" template="1089" nodeTypeAlias="sitemap" isPublished="true" />
    <contactPage id="1104" key="1555936a-5001-4bb9-a5bc-145a3f6f8040" parentID="1078" level="2" creatorID="0" sortOrder="4" createDate="2019-03-08T15:18:19" updateDate="2019-03-08T15:18:19" nodeName="Contact Us" urlName="contact-us" path="-1,1078,1104" isDoc="" nodeType="1103" creatorName="Radina Manolova" writerName="Radina Manolova" writerID="0" template="1102" nodeTypeAlias="contactPage" isPublished="false">
      <umbracoNaviHide>0</umbracoNaviHide>
    </contactPage>
  </homePage>
</root>