@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ArticleItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<h1 style="padding: 2em; margin-left: 1em;">@Umbraco.Field("articleTitle")</h1>
<div class="container">
    <div class="row">
        <div class="col" styile="padding: 2em">
        <p>@Umbraco.Field("articleContent")</p>
        </div>
    </div>
</div>

